version: "3.9"

services:
  nginx:
    image: nginx:stable
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    depends_on:
      - backend
    restart: unless-stopped

  backend:
    image: shivamdubeyagra/todo-app-backend:7f6eb9e35723dfa1ae6f4326331bac13b60462c0
    container_name: http-backend
    environment:
      MONGO_URI: mongodb://mongo:27017/turbo-db
      PORT: 4000
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:7
    container_name: mongo-db
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
